<!DOCTYPE html>
<html ng-app="testingApp">
  <head>
    <title> Controller Testing </title>
    <script type="text/javascript" src="bundle.js"></script>
    <link rel="stylesheet" href="bundle.css">
  </head>
  <body>
    <main ng-controller="PlayerController">
      <h1> Player Controller </h1>
      <form class="form-inline" novalidate name="playerForm" ng-submit="playerCtrl.createPlayer(playerForm.player)" ng-hide="playerCtrl.playerCreated">

        <div class="form-group">
          <label for="name"> Player name: </label>
          <input type="text" class="form-control" placeholder="Your players name..." name="name" ng-model="playerForm.player.name">
        </div>

        <div class="form-group">
          <label for="class"> Player class: </label>
          <select type="text" class="form-control" name="class" ng-model="playerForm.player.class">
            <option ng-repeat="item in playerCtrl.classes" value="{{item}}"> {{item}} </option>
          </select>
        </div>

        <button type="submit" class="button btn-default" name="button"> Create Player </button>

      </form>
      <content ng-show="playerCtrl.playerCreated">
        <h3> Player name: {{playerCtrl.player.name}} </h3>
        <h3> Player class: {{playerCtrl.player.class}} </h3>
      </content>
    </main>
  </body>
</html>
