@import "vendor/sass/_normalize.scss";
@import "_theme";

html, body {
  height: 100%;
  width: 100%;
  background-color: $app-light;
  color: $app-dark;
}

form, section {
  border: 1px solid $app-dark;
  margin: 20px;
  padding: 20px;
  width: 400px;
  background-color: $app-secondary;
}

h2 {
  color: $app-dark;
  margin: 0 0 10px;
}
