<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <title>Create Player</title>
    <script src="bundle.js"></script>
    <link rel="stylesheet" href="bundle.css">
  </head>
  <body>
    <main ng-controller="PlayerController" ng-init="playerCtrl.player.class='bubbly'">
      <form ng-submit="playerCtrl.createPlayer(createPlayerForm.player)"
            ng-hide="playerCtrl.isDone"
            novalidate
            name="createPlayerForm">
        <label for="name">Name:</label>
        <input name="name" type="text" ng-model="createPlayerForm.player.name"></input>

        <label for="email">Email:</label>
        <input name="email" type="email" ng-model="createPlayerForm.player.email"></input>

        <label for="class">Class:</label>
        <select name="class" ng-model="createPlayerForm.player.class">
          <option ng-repeat="item in playerCtrl.classes" val="{{item}}">{{item}}</option>
        </select>

        <button type="submit">Sign up</button>
      </form>
      <section ng-show="playerCtrl.isDone">
        <h2>Player: {{playerCtrl.player.name}}</h2>
        <p>Email: {{playerCtrl.player.email}}</p>
        <p>Class: {{playerCtrl.player.class}}</p>
      </section>
    </main>
  </body>
</html>
